In [1]:
# NYC Yellow Cab Taxi Data Analysis - Initial Exploration
# Dataset: yellow_tripdata_2024-01.parquet (January 2024)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# Set up plotting style
plt.style.use('default')
sns.set_palette("husl")

print("Libraries imported successfully!")

Libraries imported successfully!

In [2]:
# Load the dataset
df = pd.read_parquet('yellow_tripdata_2024-01.parquet')

print(f"Dataset shape: {df.shape}")
print(f"Number of trips: {len(df):,}")
print(f"Number of variables: {df.shape[1]}")
print("\n" + "="*50)

Dataset shape: (2964624, 19)
Number of trips: 2,964,624
Number of variables: 19

==================================================

In [3]:
# Dataset overview
print("DATASET OVERVIEW")
print("="*50)
print(f"Columns: {list(df.columns)}")
print(f"\nData types:")
print(df.dtypes)
print(f"\nFirst few rows:")
df.head()

DATASET OVERVIEW
==================================================
Columns: ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'Airport_fee']

Data types:
VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
dtype: object

First few rows:

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [4]:
# Basic statistics and data quality assessment
print("DATA QUALITY ASSESSMENT")
print("="*50)
print(f"Missing values per column:")
print(df.isnull().sum())
print(f"\nPercentage of missing values:")
print((df.isnull().sum() / len(df) * 100).round(2))
print(f"\nDuplicate rows: {df.duplicated().sum()}")
print(f"Unique vendors: {df['VendorID'].nunique()}")
print(f"Payment types: {df['payment_type'].unique()}")
print(f"Rate codes: {df['RatecodeID'].unique()}")

DATA QUALITY ASSESSMENT
==================================================
Missing values per column:
VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          140162
trip_distance                 0
RatecodeID               140162
store_and_fwd_flag       140162
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     140162
Airport_fee              140162
dtype: int64

Percentage of missing values:
VendorID                 0.00
tpep_pickup_datetime     0.00
tpep_dropoff_datetime    0.00
passenger_count          4.73
trip_distance            0.00
RatecodeID               4.73
store_and_fwd_flag       4.73
PULocationID             0.00
DOLocationID             0.00
payment_type             0.00
fare_amount              0.00
extra                    0.00
mta_tax                  0.00
tip_amount               0.00
tolls_amount             0.00
improvement_surcharge    0.00
total_amount             0.00
congestion_surcharge     4.73
Airport_fee              4.73
dtype: float64

Duplicate rows: 0
Unique vendors: 3
Payment types: [2 1 4 3 0]
Rate codes: [ 1.  5.  2.  4. 99.  3.  6. nan]

In [5]:
# Date and time analysis
print("TEMPORAL ANALYSIS")
print("="*50)
print(f"Date range:")
print(f"Earliest pickup: {df['tpep_pickup_datetime'].min()}")
print(f"Latest pickup: {df['tpep_pickup_datetime'].max()}")
print(f"Earliest dropoff: {df['tpep_dropoff_datetime'].min()}")
print(f"Latest dropoff: {df['tpep_dropoff_datetime'].max()}")

# Extract date and time components
df['pickup_date'] = df['tpep_pickup_datetime'].dt.date
df['pickup_hour'] = df['tpep_pickup_datetime'].dt.hour
df['pickup_day_of_week'] = df['tpep_pickup_datetime'].dt.day_name()
df['trip_duration_minutes'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

print(f"\nTrip duration statistics (minutes):")
print(df['trip_duration_minutes'].describe())

TEMPORAL ANALYSIS
==================================================
Date range:
Earliest pickup: 2002-12-31 22:59:39
Latest pickup: 2024-02-01 00:01:15
Earliest dropoff: 2002-12-31 23:05:41
Latest dropoff: 2024-02-02 13:56:52

Trip duration statistics (minutes):
count    2.964624e+06
mean     1.561295e+01
std      3.485105e+01
min     -1.356667e+01
25%      7.150000e+00
50%      1.163333e+01
75%      1.868333e+01
max      9.455400e+03
Name: trip_duration_minutes, dtype: float64

In [6]:
# Financial analysis
print("FINANCIAL ANALYSIS")
print("="*50)
print("Fare amount statistics:")
print(df['fare_amount'].describe())
print(f"\nFare amount distribution:")
print(f"Negative fares: {(df['fare_amount'] < 0).sum()}")
print(f"Zero fares: {(df['fare_amount'] == 0).sum()}")
print(f"Fares > $100: {(df['fare_amount'] > 100).sum()}")

print(f"\nTip amount statistics:")
print(df['tip_amount'].describe())
print(f"\nTip percentage (when tip > 0):")
df_with_tips = df[df['tip_amount'] > 0]
df_with_tips['tip_percentage'] = (df_with_tips['tip_amount'] / df_with_tips['fare_amount']) * 100
print(df_with_tips['tip_percentage'].describe())

print(f"\nTotal amount statistics:")
print(df['total_amount'].describe())

FINANCIAL ANALYSIS
==================================================
Fare amount statistics:
count    2.964624e+06
mean     1.817506e+01
std      1.894955e+01
min     -8.990000e+02
25%      8.600000e+00
50%      1.280000e+01
75%      2.050000e+01
max      5.000000e+03
Name: fare_amount, dtype: float64

Fare amount distribution:
Negative fares: 37448
Zero fares: 893
Fares > $100: 7995

Tip amount statistics:
count    2.964624e+06
mean     3.335870e+00
std      3.896551e+00
min     -8.000000e+01
25%      1.000000e+00
50%      2.700000e+00
75%      4.120000e+00
max      4.280000e+02
Name: tip_amount, dtype: float64

Tip percentage (when tip > 0):
count    2.254230e+06
mean              inf
std               NaN
min     -3.983333e+03
25%      2.215190e+01
50%      2.661157e+01
75%      3.111111e+01
max               inf
Name: tip_percentage, dtype: float64

Total amount statistics:
count    2.964624e+06
mean     2.680150e+01
std      2.338558e+01
min     -9.000000e+02
25%      1.538000e+01
50%      2.010000e+01
75%      2.856000e+01
max      5.000000e+03
Name: total_amount, dtype: float64

In [8]:
# Geographic analysis
print("GEOGRAPHIC ANALYSIS")
print("="*50)
print("Location IDs (this dataset uses location IDs instead of lat/long coordinates):")
print(f"Pickup locations: {df['PULocationID'].min()} to {df['PULocationID'].max()}")
print(f"Dropoff locations: {df['DOLocationID'].min()} to {df['DOLocationID'].max()}")
print(f"Unique pickup locations: {df['PULocationID'].nunique()}")
print(f"Unique dropoff locations: {df['DOLocationID'].nunique()}")

print(f"\nPassenger count:")
print(df['passenger_count'].value_counts().sort_index())

print(f"\nTrip distance statistics:")
print(df['trip_distance'].describe())

GEOGRAPHIC ANALYSIS
==================================================
Location IDs (this dataset uses location IDs instead of lat/long coordinates):
Pickup locations: 1 to 265
Dropoff locations: 1 to 265
Unique pickup locations: 260
Unique dropoff locations: 261

Passenger count:
passenger_count
0.0      31465
1.0    2188739
2.0     405103
3.0      91262
4.0      51974
5.0      33506
6.0      22353
7.0          8
8.0         51
9.0          1
Name: count, dtype: int64

Trip distance statistics:
count    2.964624e+06
mean     3.652169e+00
std      2.254626e+02
min      0.000000e+00
25%      1.000000e+00
50%      1.680000e+00
75%      3.110000e+00
max      3.127223e+05
Name: trip_distance, dtype: float64

In [9]:
# Key insights and patterns
print("KEY INSIGHTS AND PATTERNS")
print("="*50)

# Daily trip patterns
daily_trips = df.groupby('pickup_date').size()
print(f"Average trips per day: {daily_trips.mean():.0f}")
print(f"Busiest day: {daily_trips.idxmax()} with {daily_trips.max():,} trips")
print(f"Quietest day: {daily_trips.idxmin()} with {daily_trips.min():,} trips")

# Hourly patterns
hourly_trips = df.groupby('pickup_hour').size()
print(f"\nBusiest hour: {hourly_trips.idxmax()}:00 with {hourly_trips.max():,} trips")
print(f"Quietest hour: {hourly_trips.idxmin()}:00 with {hourly_trips.min():,} trips")

# Payment patterns
payment_counts = df['payment_type'].value_counts()
print(f"\nPayment method distribution:")
for payment_type, count in payment_counts.items():
    percentage = (count / len(df)) * 100
    print(f"  Type {payment_type}: {count:,} trips ({percentage:.1f}%)")

# Vendor analysis
vendor_counts = df['VendorID'].value_counts()
print(f"\nVendor distribution:")
for vendor, count in vendor_counts.items():
    percentage = (count / len(df)) * 100
    print(f"  Vendor {vendor}: {count:,} trips ({percentage:.1f}%)")

KEY INSIGHTS AND PATTERNS
==================================================
Average trips per day: 84704
Busiest day: 2024-01-27 with 110,515 trips
Quietest day: 2002-12-31 with 2 trips

Busiest hour: 18:00 with 212,788 trips
Quietest hour: 4:00 with 16,742 trips

Payment method distribution:
  Type 1: 2,319,046 trips (78.2%)
  Type 2: 439,191 trips (14.8%)
  Type 0: 140,162 trips (4.7%)
  Type 4: 46,628 trips (1.6%)
  Type 3: 19,597 trips (0.7%)

Vendor distribution:
  Vendor 2: 2,234,632 trips (75.4%)
  Vendor 1: 729,732 trips (24.6%)
  Vendor 6: 260 trips (0.0%)